{% extends 'mcbiclustweb/base.html' %}

{% block content %}

{% include "mcbiclustweb/navbar.html"%}

<div class="container pt-5">
    <h1>{{ analysis.name }}</h1>
    <hr class="mb-4" style="border-top: 2px solid rgba(0, 0, 0, 0.1);">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <label><b>Description</b></label>
            </div>
            <div class="col-md-9">
                <p>{{ analysis.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><b>Characteristic Plots Possible</b></label>
            </div>
            <div class="col-md-9">
                <p>{{ analysis.char_ok }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><b>Status</b></label>
            </div>
            <div class="col-md-9">
                <p>{{ analysis.status|capfirst }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><b>Date Started</b></label>
            </div>
            <div class="col-md-9">
                <p>{{ analysis.date_started }}</p>
            </div>
        </div>
        {% if status < 3 and status != 1 and status != -2 or status == 12 %}
        <hr class="mb-2">
        <h2 class="my-3">{% if status < 0 or status == 12 %}Retart{% else %}Start{% endif %} Analysis</h2>  
        <div>
            <form id="startAnalysisForm" action="{% url 'mcbiclustweb:start' analysis.id %}" method="POST" enctype="multipart/form-data" novalidate="">
                {% csrf_token %}
                <div class="form-group">
                    <label for="seedSize">
                        Sample Seed Size
                        <small class="form-text text-muted">
                            Choose the sample size of your seed.
                        </small>
                    </label>
                    <input id="seedSize" class="form-control" name="seedSize" required="" min="1" type="number">
                    <div class="invalid-feedback">
                        Please provide an integer input.
                    </div>
                </div>
                <div class="form-group">
                    <label for="initSeed">
                        Initial Sample Seed
                        <small class="form-text text-muted">
                            Enter the initial sample seed separate by commas only. Note that if the number of initial sample seeds specified is not equal to Sample Seed Size, the algorithm will choose a random inital seed instead. (Optional)
                        </small>
                    </label>
                    <textarea id="initSeed" class="form-control" name="initSeed" row="3" type="text"></textarea>
                    <div id="incorrectFormat" class="invalid-feedback">
                        Please verify that the number of initial seeds entered is equal to the seed size specified above.
                    </div>
                </div>
                <div class="form-group">
                    <label for="geneset">
                        Geneset of Interest
                        <small class="form-text text-muted">
                            Please upload a text file with the genes separate by commas only. Please use the gene names from the gene expression matrix. Use no more than 500 genes.
                        </small>
                    </label>
                    <input id="geneset" class="form-control" name="geneset" required="" type="file">
                    <div id="incorrectExt" class="invalid-feedback">
                        Please upload a gene set of interest in .txt format.
                    </div>
                </div>
                <div class="form-group">
                    <label for="iterations">
                        Iterations
                        <small class="form-text text-muted">
                            Choose the number of iterations to run each FindSeed algorithm.
                        </small>
                    </label>
                    <input id="iterations" class="form-control" name="iterations" min="1" required="" type="number">
                    <div class="invalid-feedback">
                        Please provide an integer input.
                    </div>
                </div>
                <div class="form-group">
                    <label for="numRuns">
                        Number of Runs
                        <small class="form-text text-muted">
                            Choose the number of runs of the FindSeed algorithm.
                        </small>
                    </label>
                    <input id="numRuns" class="form-control" name="numRuns" required="" min="1" type="number">
                    <div class="invalid-feedback">
                        Please provide an integer input.
                    </div>
                </div>
                <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Start Analysis">
            </form>
        </div>
        {% endif %}
        {% if status >= 7 or status <= -4 %}
        <hr class="mb-2">
        <h2 class="my-3">Visualisation</h2>   
        <div id="accordion">
            {% if status >= 7 or status <= -4 %}
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Correlation Heatmap
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <img src="{{ fig_dir }}/cor_heatmap.png" alt="Correlation Heatmap" width="80%" class="my-fig">
                </div>
            </div>
            {% endif %}
            {% if status >= 8 or status <= -5 %}
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Silhouette Analysis
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <img src="{{ fig_dir }}/sil_clust01.png" alt="Correlation Heatmap" width="80%" class="my-fig">
                    <br><br>
                    <img src="{{ fig_dir }}/sil_clust02.png" alt="Correlation Heatmap" width="80%" class="my-fig">
                </div>
            </div>
            {% endif %}
            {% if status >= 9 %}
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    CVPlot
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <img src="{{ fig_dir }}/cvplot.png" alt="Correlation Heatmap" width="80%" class="my-fig">
                </div>
            </div>
            {% endif %}
            {% if status >= 11 and analysis.char_ok %}
            <div class="card">
                <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Characteritiscs Fork Plot
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="bicluster">Select Bicluster</label>
                            <select id="bicluster" class="custom-select d-block w-100">
                                {% for b in nbiclusters %}
                                <option value="{{ b }}">{{ b }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="characteristic">Select Characteristic</label>
                            <select id="characteristic" class="custom-select d-block w-100">
                                {% for char in chars %}
                                <option value="{{ char }}">{{ char }}</option>
                                {% endfor %}
                            </select> 
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="select">&nbsp;</label>
                            <button id="selectFork" class="btn d-block w-100">Select</button>
                        </div>
                    </div>
                    <img id="forkPlot" class="my-fig" src="{{ fig_dir }}/{{ nbiclusters.0 }}/forkplot_{{ chars.0 }}.png" width="80%">
                </div>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<script>
    $('document').ready(function() {
        $("#selectFork").click(function() {
            bicluster = $("#bicluster option:selected" ).text();
            char = $("#characteristic option:selected" ).text();
            forkUrl = "{{ fig_dir }}/" + bicluster + "/forkplot_" + char + ".png"
            $("#forkPlot").attr("src", forkUrl)
        });

        function getExtension(fileName) {
            var parts = fileName.split('.');
            return parts[parts.length - 1];
        }

        var monitorUpload = false;
        function validateUpload(event=null) {
            monitorUpload = true;
            var fileName = $('#geneset').val()
            if (getExtension(fileName) !== 'txt') {
                $('#incorrectExt').css('display', 'block');
                $('#geneset').css('border-color', '#dc3545');
                if (event !== null) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            } else {
                $('#incorrectExt').css('display', 'none');
                $('#geneset').css('border-color', '#28a745');
            }
        }
        var monitorInitSeed = false;
        function validateInitSeed(event=null) {
            monitorInitSeed = true;
            var initSeeds = $('#initSeed').val().split(',');
            if (initSeeds[initSeeds.length - 1] == "")
                initSeeds.pop();
            var seedSize = $('#seedSize').val();
            if (seedSize != initSeeds.length) {
                $('#incorrectFormat').css('display', 'block');
                $('#initSeed').css('border-color', '#dc3545');
                if (event !== null) {
                    event.preventDefault();
                    event.stopPropagation();
                }
            } else {
                $('#incorrectFormat').css('display', 'none');
                $('#initSeed').css('border-color', '#28a745');
            }
        }

        var startAnalysisForm = document.getElementById('startAnalysisForm');
        $('#startAnalysisForm').submit(function( event ) {
            if (startAnalysisForm.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
            }
            validateUpload(event);
            if ($('#initSeed').val() != "")
                validateInitSeed(event);

            $('#startAnalysisForm').addClass("was-validated");
        });

        $('#initSeed').keyup(function() {
            console.log('change')
            if ($('#initSeed').val() != "")
                validateInitSeed(event);
        });
        $('#geneset').change(function() {
            if (monitorUpload)
                validateUpload();
        });
    });
</script>

{% endblock %}